<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes,minimum-scale=1.0">
    <title>测试</title>
    <link th:href="@{/plugins/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <button class="btn btn-danger btn-block">按钮</button>
    <label>这是一个输入框</label><input class="form-control" placeholder="请输入" />

    <table class="table">
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ad</td>
                <td>fds</td>
                <td>gd</td>
            </tr>
        </tbody>
    </table>
</body>
</html>