<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/charginTemplate/css/amazeui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/plugins/charginTemplate/css/main.css}" />
<style>
    .form-section{
        color: #0b94ea;
        margin: 30px 0px 15px 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        margin-left: 10px;
    }
</style>
<script type="text/javascript" th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml">
    /*<![CDATA[*/
    /*]]>*/
</script>
<div class="col-md-12" style="background-color: #1bd3ff;padding-left: 1%;margin-top: 1%">
    <h3>其他管理——<a href="javascript:void(0);" onclick="topage('other/chargingsystem')">充值系统</a></h3>
</div>

<!--隐藏域，存储图标信息-->
<div style="display:none;">
</div>

<div class="col-md-12" style="background-color: #4be4c5;margin-top: 2%">
    <h4>充值中心</h4>
</div>

<div class="col-md-12" style="background-color: white;padding-top: 1%;padding-bottom: 1%">
    <form role="form" id="moneySubmitForm">
        <input type="hidden" th:value="${session.user.userId}" name="userId" />
    <div class="col-md-6" style="margin-top: 1%">
        <span style="color: red">*</span><label>银行卡号</label>
        <input class="form-control" name="bankNum" id="bankNum" placeholder="请填写银行卡号" />
    </div>
    <div class="col-md-6" style="margin-top: 1%;padding-bottom: 1%">
        <span style="color: red">*</span><label>银行类型</label>
        <select class="form-control" name="bankType" id="bankType">
            <option value="0">工商银行</option>
            <option value="1">中国银行</option>
            <option value="2">交通银行</option>
            <option value="3">建设银行</option>
            <option value="4">招商银行</option>
            <option value="5">农业银行</option>
            <option value="6">其他银行</option>
        </select>
    </div>
    <div class="col-md-6" style="margin-top: 1%">
        <span style="color: red">*</span><label>充值金额</label>
        <input class="form-control" name="moneyNum" id="moneyNum" placeholder="请输入充值金额" />
    </div>
    <div class="col-md-6" style="margin-top: 1%;margin-top: 3.3%">
        <button onclick="money()" style="margin-right: 2%;width: 16%" class="btn btn-primary" type="button">充值</button>
        <button onclick="reset()" style="width: 16%" class="btn btn-warning" type="button">重置</button>
    </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/other/money/money.js}"></script>
</html>