<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div class="col-md-12" style="background-color: #1bd3ff;padding-left: 1%;margin-top: 1%">
        <h3>系统管理——<a href="javascript:void(0);" onclick="topage('menu/list')">菜单管理</a></h3>
    </div>

    <div class="col-md-12" style="background-color: #4be4c5;margin-top: 2%">
        <h4>筛选查询</h4>
    </div>

    <div class="col-md-12" style="background-color: white;padding-top: 1%;padding-bottom: 1%">
        <form id="menuFrom" role="form">
            <div class="col-md-6">
                <label>请输入菜单名称：</label>
                <input th:value="${menuVo.menuName}" id="menuName" name="menuName" type="text" class="form-control" placeholder="菜单名称">
            </div>
            <div class="col-md-4" style="margin-top: 1.8%">
                <button style="margin-left: 15px" onclick="selectByExample()" type="button" class="btn btn-success waves-effect waves-light m-l-10">查询
                </button>
                <button style="margin-left: 15px" onclick="reSetSeacrch()" type="button" class="btn btn-success waves-effect waves-light m-l-10">重置
                </button>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="margin-top: 1%;padding: 0;margin-bottom: 1%">
        <button style="background-color: #9acaff;margin-right: 10px" class="btn" onclick="topage('menu/add')">
            <span class="ladda-label">
                <i class="fa fa-plus" aria-hidden="true"></i>添加
            </span>
        </button>
        <button style="background-color: #ff5232" class="btn" onclick="batchDelete()">
            <span class="ladda-label">
                <i class="fa fa-times" aria-hidden="true"></i>删除
            </span>
        </button>
    </div>

    <div class="col-md-12" style="background-color: #4be4c5">
        <h4>数据列表</h4>
    </div>
    <div id="tableMessage" style="overflow-x: hidden;padding: 0" class="col-md-12 table-responsive">
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column"
                   id="table1">
                <thead>
                    <tr>
                        <th><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="group-checkable" data-set="#table1 .checkboxes"/>
                            <span></span>
                        </label></th>
                        <th>菜单名称</th>
                        <th>父菜单</th>
                        <th>菜单路径</th>
                        <th>菜单图标</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="menu:${menus}">
                        <td>
                            <label style="margin-left: 8px" class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes" name="selectedIds" th:value="${menu.menuId}" />
                                <span></span>
                            </label>
                        </td>
                        <td th:text="${menu.menuName}">菜单名称</td>
                        <td th:text="${menu.paMenu}">父菜单</td>
                        <td th:text="${menu.menuUrl}">菜单路径</td>
                        <td th:text="${menu.menuIcon}">菜单图标</td>
                        <td>
                            <div  style="display: flex; align-items: center;">
                                <div>
                                    <a th:onclick="editorRole([[${menu.menuId}]])" href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect waves-light m-b-5">
                                        <i class="fa fa-edit"></i> <span>编辑</span>
                                    </a>
                                    <a th:onclick="deleteRole([[${menu.menuId}]])" href="javascript:void(0)" class="btn btn-danger btn-sm waves-effect waves-light m-b-5">
                                        <i class="fa fa-trash-o"></i> <span>删除</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<script type="text/javascript" th:src="@{/js/system/menu/list.js}"></script>
</html>