<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.graduation.crmsystem.dao.mapper.other.CrmMessageMapper" >
  <resultMap id="BaseResultMap" type="com.crm.graduation.crmsystem.entity.other.CrmMessage" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="from_userId" property="fromUserid" jdbcType="VARCHAR" />
    <result column="to_userId" property="toUserid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="message_status" property="messageStatus" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Table">
    crm_message
  </sql>

  <sql id="File">
    message_id,
    message_content,
    from_userId,
    to_userId,
    create_time,
    message_status
  </sql>

  <select id="getRecords" resultMap="BaseResultMap">
      select <include refid="File"></include> from <include refid="Table"></include>
    where to_userId in <foreach item="userId" index="index" collection="userIds"
                                open="(" separator="," close=")">
      #{userId}
  </foreach> and from_userId in <foreach item="userId" index="index" collection="userIds"
                                         open="(" separator="," close=")">
      #{userId}
  </foreach>
    order by create_time asc limit #{counts},#{capa}
  </select>

  <!--查询通信总条数-->
  <select id="getCounts" resultType="Integer">
    select count(1) from <include refid="Table"></include>
    where to_userId in <foreach item="userId" index="index" collection="userIds"
                                open="(" separator="," close=")">
    #{userId}
  </foreach> and from_userId in <foreach item="userId" index="index" collection="userIds"
                                         open="(" separator="," close=")">
    #{userId}
  </foreach>
  </select>

</mapper>