<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.graduation.crmsystem.dao.mapper.user.CrmPermissionMapper">

    <select id="getAll" resultType="com.crm.graduation.crmsystem.model.vo.system.menu.MenuVo">
        select permission_id menuId,permission_name menuName,permission_url menuUrl,permission_icon menuIcon,permission_parent_id paMenu
        from crm_permission
        where 1=1
        <if test="menuName != null and menuName != ''">
            and permission_name LIKE CONCAT(CONCAT('%', #{menuName}), '%')
        </if>
    </select>

    <select id="getPaMenu" resultType="com.crm.graduation.crmsystem.entity.system.permission.CrmPermission">
        select permission_id permissionId,permission_name permissionName from crm_permission
        where permission_parent_id = ''or isnull(permission_parent_id)
    </select>

</mapper>