<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/scoket/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/js/scoket/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/other/chat/chat.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/other/chat/chat.js}"></script>-->
<style>
    .form-section{
        color: #0b94ea;
        margin: 15px 0px 15px 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        margin-left: 10px;
    }
    ul li{
        list-style: none;
    }
    .messClass{
        display: none;
    }
</style>
<script type="text/javascript" th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml">
    /*<![CDATA[*/
    function getUnRM() {
        var unReadMessages = [[${session.unReadMessages}]]
        return unReadMessages;
    }
    var user = [[${session.user}]]
    /*]]>*/
</script>
<input type="hidden" id="toUserId">
<input type="hidden" id="userNameaa">
<div class="col-md-12" style="background-color: #1bd3ff;padding-left: 1%;margin-top: 1%">
    <h3>其他管理——<a href="javascript:void(0);" onclick="topage('other/onlineconsultant')">在线咨询</a></h3>
</div>

<div class="col-md-12" style="background-color: #4be4c5;margin-top: 2%">
    <h4>在线咨询</h4>
</div>

<!--左侧联系人部分-->
<div class="col-md-2 text-center" style="background-color: white;margin-top: 2%">
    <h5>联系人管理</h5>
    <ul style="padding: 0">
        <li style="margin-bottom: 5%" th:each="contact:${contacts}" class="menuPartens">
            <a href="javascript:void(0)" class="menpeo">
                <i></i>
                <span th:text="${contact.apartmentName}"> 联系人管理 </span>
                <span>
                                <i class="fa fa-angle-left"></i>
                            </span>
                <span style="color: blue" th:text="${contact.peoCount}"></span><i th:id="${contact.apartmentId}" class="fa fa-circle apaeach"style="color: red;display: none;margin-left: 1%"></i>
            </a>
            <ul class="menuChild" style="display: none;padding: 0">
                <li style="margin-bottom: 4%;margin-top: 4%" th:each="chi:${contact.users}">
                    <a th:title="${chi.userDescribe}" href="javascript:void(0);" th:onclick="changeUser([[${chi.userId}]],[[${chi.userName}]],[[${contact.apartmentId}]])"><i class="fa fa-child" aria-hidden="true"></i><span th:text="${chi.userName}"> xxx </span></a><i th:id="${chi.userId}" class="fa fa-circle"style="color: red;display: none;margin-left: 1%"></i><i th:class="${contact.apartmentId}"></i>
                </li>
            </ul>
        </li >

    </ul>
</div>

<div align="center" class="messClass col-md-7 col-xs-offset-1" style="overflow: hidden;margin-top: 2%;background-color: #4be4c5">
    <label id="useNam">您正在和xxx聊天</label>
</div>
<div id="chatMainIndex" class="messClass col-md-7 col-xs-offset-1" style="background-image: url('../images/chat/charBackground.jpg');background-color: #d9ffc1;overflow: auto;height: 20rem">


    <!--加载历史消息-->
    <div style="margin-bottom: 2%;margin-top: 2%" class="row text-center">
            <a onclick="getMoreRecord()" href="javascript:void(0)">点击加载历史消息</a>
    </div>

    <!--消息内容部分-->
    <div id="messageMain" class="row">
        <input type="hidden" id="messageCount" value="10">
    </div>
</div>
<div class="messClass col-md-7 col-xs-offset-3" style="padding: 0">
    <div class="col-md-9" style="padding: 0">
        <input id="messageContent" class="form-control" type="text" placeholder="请输入您要发送的内容" />
    </div>
    <div class="col-md-3" style="padding: 0">
        <button id="sendBtn" class="btn btn-primary" style="width: 100%" onclick="sendMessage()">发送</button>
    </div>
</div>

</html>
