<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon" />

    <meta charset="UTF-8"/>
    <title>CRM</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet"/>
    <link th:href="@{/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/toggles/toggles.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/mditor/css/mditor.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/summernote/0.8.2/summernote.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/dropzone/4.3.0/min/dropzone.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/vue-loading/vue-loading.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/vue-loading/vue-loading.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet" />
    <link th:href="@{/css/system/index.css}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" th:href="@{/plugins/jstree/dist/themes/default/style.css}" />
    <!--响应式布局start-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=yes,minimum-scale=1.0">-->
    <!--<meta name="viewport" content="width=device-width, user-scalable=no">-->
    <!--end-->

</head>
</html>