<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headmenu" style="background-color: white" class="row">
        <!--logou-->
        <div class="col-md-3">
            <a class="col-md-12" href="index" style="padding: 0">
                <img class="col-md-12 img-responsive" th:src="@{/images/main/crm.jpg}" style="padding: 0;height: 6rem;width: 70%"/>
            </a>
        </div>

        <!--欢迎用户部分-->
        <div class="col-md-3" style="margin-top: 0.5%">
            <h3 th:text="'欢迎您,'+${session.user.userName}">欢迎您</h3>
        </div>

        <!--消息提醒部分-->
        <div id="messageDiv" style="display: none;font-size: 2rem;margin-top: 1%" class="col-md-3">
            <a id="messageA" href="javascript:void(0);"><i style="color: red" class="fa fa-bell-o"></i></a>
            <span>有未处理消息</span>
        </div>

        <!--个人中心部分-->
        <div class="col-md-3 pull-right" style="padding-right: 4%">

            <!--个人中心-->
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="dropdown">
                    <a style="color: white;background-color: white" href="javascript:void(0);" class="dropdown-toggle profile" data-toggle="dropdown"
                       aria-expanded="true"><img src="../images/main/main.png" alt="user-img" class="img-circle" style="background-color: white"></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" onclick="toPersonalSet()"><i class="fa fa-sun-o"></i> 个人设置</a></li>
                        <li><a href="javascript:void(0);" onclick="logout()"><i class="fa fa-sign-out"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</html>